:host{
  width: 100%;
  position: relative;
  text-align: left;
  vertical-align: top;
  height: 290px;
  box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  &:hover {
    box-shadow: 0 0 3px 3px rgba(20, 23, 28, 0.2), 0 5px 5px 0 rgba(20, 23, 28, 0.2);
  }
}

.course-card {
  &__content{

  }

  &__main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }

  &__title {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 42px;
    font-size: 15px;
    color: #29303B;
    margin-bottom: 10px;
  }

  &__teacher {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    color: #686F7A;
  }


  &__rating-star{
    font-weight: 600;
    color: #505763;
  }

  &__rating-votes{
    ont-size: 12px;
    font-weight: 400;
    color: #686F7A;
    margin-left: 5px;
  }

  &__prices {
    text-align: right;
    margin: 0;
  }

  &__priceOld {
    color: #686F7A;
    font-size: 13px;
    margin-right: 10px;
    text-decoration: line-through;
    font-weight: 300;
  }

  &__price {
    font-size: 18px;
    color: #29303B;
    font-weight: 700;
  }
}
