.course-builder{
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 30px;

  &__btn-back{
    display: inline-block;
    width: 50px;
    height: 50px;
    text-decoration: none;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 0 3px lightgray;
    &:hover{
      background: lightgray;
    }
  }

  &__title{
    font-size: 30px;
    text-align: center;
  }

  &__name{
    width: 100%;
    text-align: center;
    font-size: 30px;
    border: 1px solid grey;
  }

  &__description{
    width: 100%;
    min-height: 200px;
    font-size: 30px;
    padding: 10px;
    border: 1px solid grey;
  }
}

