<p>
  student works!
</p>
<div class="teacher-courses" *ngIf="arrMyCourses.length>0; else noCourses">
  <h2 class="teacher-courses__title">ВАШИ КУРСЫ:</h2>
  <ul class="teacher-courses__list">
    <li class="teacher-courses__list-item" *ngFor="let course of arrMyCourses">
      <a class="teacher-courses__list-item-link" routerLink="builder/{{course.id}}">
        <app-course-card [course]="course"></app-course-card>
      </a>
    </li>
  </ul>
</div>
<ng-template #noCourses>
  <h2 class="teacher-courses__title">ВАША ПОДПИСКА ПУСТА</h2>
</ng-template>


<div class="top-courses" *ngIf="arrTopCourses.length>0">
  <h2 class="top-courses__title">ТОП КУРСЫ:</h2>
  <ul class="top-courses__list">
    <li class="top-courses__list-item" *ngFor="let course of arrTopCourses">
      <a class="top-courses__list-item-link" routerLink="builder/{{course.id}}">
        <app-course-card [course]="course"></app-course-card>
      </a>
    </li>
  </ul>
</div>
