$main-clr: #ff8a05;

.registration{
  width: 50%;
  min-width: 280px;
  max-width: 600px;
  margin: 100px auto;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.19);

  &__title{
    background: $main-clr;
    color: white;
    text-align: center;
    margin: 0;
    padding: 15px 0;
    font-size: 24px;
    font-family: Arial;
  }
  &__form{
    padding: 25px;
    input{
      width: 100%;
      height: 45px;
      margin: 20px 0;
      border: 1px solid rgba(0, 0, 0, 0.19) ;
    }
  }
  &-btn-wrap{
    text-align: center;
  }

  &-btn{
    background: $main-clr;
    color: white;
    padding: 15px 25px;
    border-radius: 5px;
    border: none;
    min-width: 150px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 700ms;
    margin: 20px;
    &:hover{
      transition: 700ms;
      opacity: 0.7;
    }
  }
}
