.course{
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
  color: gray;
  font-size: 16px;

  &__title{
    text-align: center;
    font-size: 30px;
  }
  &__teacher{
    text-align: right;
  }
  &__teacher-name{
    font-size: 24px;
    color: black;
    font-style: italic;
  }

  &__btn-back{
    display: inline-block;
    width: 50px;
    height: 50px;
    text-decoration: none;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 0 3px lightgray;
    cursor: pointer;
    &:hover{
      background: lightgray;
    }
  }
}
